/* 공통 스타일 */
.container {
  width: 1728px; /* 변경된 너비 */
  height: 1070px; /* 비율에 맞춘 높이 */
  margin: 0 auto;
  background: #2c2c2c; /* 다크 그레이 */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2, h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #e0e0e0; /* 밝은 회색 텍스트 */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444; /* 어두운 회색 */
  border-radius: 5px;
  background: #333; /* 다크 그레이 */
  color: #e0e0e0; /* 밝은 회색 텍스트 */
  box-sizing: border-box;
}

/* 버튼 스타일 */
input[type="submit"],
button {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2; /* 다크 블루 */
  color: #fff; /* 하얀색 텍스트 */
  cursor: pointer;
}

button {
  background-color: #4a90e2; /* 다크 블루 */
}

button:hover,
input[type="submit"]:hover {
  background-color: #357abd; /* 좀 더 어두운 블루 */
  color: #fff; /* 하얀색 텍스트 */
}

button:active,
input[type="submit"]:active {
  background-color: #2a66a1; /* 클릭 시 블루의 더 어두운 톤 */
  color: #fff; /* 하얀색 텍스트 */
}

/* 삭제 버튼에만 적용할 수 있는 클래스 */
button.delete {
  background-color: #e94e77; /* 다크 핑크 */
  color: #fff; /* 하얀색 텍스트 */
}

button.delete:hover,
input[type="submit"].delete:hover {
  background-color: #c63d60; /* 호버 시 색상 */
  color: #fff; /* 하얀색 텍스트 */
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: #e0e0e0; /* 밝은 회색 텍스트 */
}

th, td {
  padding: 10px;
  border: 1px solid #444; /* 어두운 회색 */
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

th {
  background-color: #333; /* 다크 그레이 */
}

.register-button {
  text-align: center;
  background-color: #4a90e2; /* 다크 블루 */
  color: #fff !important; /* 하얀색 텍스트 */
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 20px auto;
  display: inline-block;
}

.register-button:hover {
  background-color: #357abd; /* 호버 시 색상 */
}

.player_write, .player_detail, .soccerTeam_write, .soccerTeam_detail {
  width: 100%;
  max-width: 960px; /* 비율에 맞춘 너비 */
  margin: 0 auto;
}

.file_list a {
  display: block;
  margin-bottom: 10px;
  color: #4a90e2; /* 링크 색상 다크 블루 */
}

.file_list a:hover {
  color: #357abd; /* 호버 시 색상 */
}

/* 스타일 추가: 시간 입력 부분 */
.time-inputs {
  display: flex;
  gap: 10px; /* 입력 박스 사이의 간격 */
}

.time-inputs input {
  width: calc(11.9%); /* 4개의 입력 박스를 나란히 배치하고, 간격을 고려하여 너비를 설정 */
}
